*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #C3DCB7;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #C3DCB7;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px; */

    box-sizing: border-box;
    
}
/* 
.container::-webkit-scrollbar {
  display: none;
} */



.navigationbar{
    /* padding-top: 25px; */
    width: 100%;
    height: 5rem;
    background-color: whitesmoke;
    background-image: linear-gradient(#87f1ce,#f5f5f5);
    /* background-image: linear-gradient(#29A887,#f5f5f5); */
    /* border-radius: 30px;
    margin-top: 25px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.navigationbar #title{
    width: 20%;
    height: 100%;
    display: flex;
    padding-left: 2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}
.navigationbar #title #logo{
    height: 100%;
    width: auto;
    /* width: 7rem; */
    /* border-radius: 1rem; */
    /* padding-left: 2rem; */

}
.navigationbar .navigationtool{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.navigationbar .navigationtool .navigationbutton{
    display: flex;
    /* background-color: greenyellow; */
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style-type: none;

}
.navigationbar .navigationtool .navigationbutton a{
    color: black;
}
.navigationbar .navigationtool .navigationbutton #li1{
    align-self: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigationbar .navigationtool .navigationbutton #li2{
    align-self: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigationbar .navigationtool .navigationbutton #li3{
    align-self: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigationbar .navigationtool .navigationbutton #li4{
    align-self: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigationbar .navigationtool #searchbar{
    align-self: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
    width: 10rem;
    /* border-color: black solid 5px; */
}

.maincontainer{
    background-color: rgb(255, 255, 255);
    /* margin-left: 5rem;
    margin-right: 5rem; */
    width: 100%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    box-sizing: border-box;
    /* align-content: space-between; */
    justify-content: space-between;
    row-gap: 2rem;
}
.landingpage{
    /* margin-top: 2rem; */
    width:100%; 
    height: 35rem;
    box-sizing: border-box;
    /* align-self: center; */
    background-image: url('../images/plants1.jpg');
    background-size: 80% 100%;
    position: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    /* justify-content: center;
    align-items: center; */
    /* column-gap: 1rem;
    row-gap: 1rem; */
    
    opacity: 0.80;
    box-shadow: 0.5rem 0.5rem 1rem#052553;

}
.landingpage .shadow{
    width: 80%;
    height: 100%;
    /* box-sizing: 100% 100%; */
    /* border: solid 2px black; */
    position: absolute;
    opacity: 0.2;
    background-color: rgb(0, 0, 0);
    left: 10%;
    top: 0;
    z-index: 0;
}
.landingpage .text1{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 60%;
    color: white;
    /* text-shadow: 1rem 1rem 1rem black; */
    text-shadow: 0.2rem 0.2rem 0.4rem black, 0 0 2.5rem darkolivegreen, 0 0 0.5rem darkgreen;
    z-index: 1;
}
.landingpage .text1 #solution{
    font-size: 2.8rem;
    margin-bottom: 0.3rem;
}
.landingpage .text1 #lifestyle{
    font-size: 1.2rem;
    margin-bottom: none;
}
.landingpage .text1 #simple{
    margin-top: none;
    font-size: 1.2rem;
}
.landingpage .text1 #shopnow{
    border-radius: 20rem;
    padding: 0.4rem;
    margin-top: 1rem;
    background-image: linear-gradient(#0047ab, #1ca9c9);
    border: #0047ab;
    box-shadow: 0.3rem 0.3rem 0.5rem#052553;
}


.plantstypes{
    margin-top: 3rem;
    box-sizing: border-box;
    /* border: solid black; */
    width: 80%;
    height: 24rem;
    align-self: center;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 6%;
    padding-right: 6%;
    /* background-color: white; */
}
.plantstypes .indoor{
    height: 100%;
    width: 28%;
    /* border: 1px solid black; */
    background-image: url(../images/indoor.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    /* text-align-last: center; */
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
    border-radius: 2rem;
}
.plantstypes .indoor #indoortext{
    
    padding-top: 55%;;
    color: white;
    position: relative;
    z-index: 1;
}
.plantstypes .herbal{
    height: 100%;
    width: 28%;
    background-image: url(../images/herbal.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
    border-radius: 2rem;
}
.plantstypes .herbal #herbaltext{
    padding-top: 55%;;
    color: white;
    position: relative;
    z-index: 1;
}
.plantstypes .flowering{
    height: 100%;
    width: 28%;
    background-image: url(../images/flowering.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
    border-radius: 2rem;
}
.plantstypes .flowering #floweringtext{
    padding-top: 55%;
    color: white;
    position: relative;
    z-index: 1;
}
.plantstypes .indoor .shadow{
    width: 24%;
    height: 100%;
    /* box-sizing: 100% 100%; */
    /* border: solid 2px black; */
    position: absolute;
    opacity: 0.4;
    background-color: rgb(0, 0, 0);
    /* left: 0; */
    top: 0;
    border-radius: 2rem;
}
.plantstypes .herbal .shadow{
    width: 24%;
    height: 100%;
    /* box-sizing: 100% 100%; */
    /* border: solid 2px black; */
    position: absolute;
    opacity: 0.4;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    top: 0;
}
.plantstypes .flowering .shadow{
    width: 24%;
    height: 100%;
    /* box-sizing: 100% 100%; */
    /* border: solid 2px black; */
    position: absolute;
    opacity: 0.4;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    top: 0;
}

.aboutapnokhet{
    margin-top: 3rem;
    position: relative;
    width: 80%;
    height: 40rem;
    align-self: center;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: space-around; */
    background-image: linear-gradient(to right, #3eb489, #90EE90);
    box-shadow: 0.5rem 0.5rem 1rem#052553;
}
.aboutapnokhet .aboutlogo{
    width: 40%;
    height: 80%;
    align-self: center;
}
.aboutapnokhet .aboutlogo img{
    width: 100%;
    height: 100%;
}
.aboutapnokhet .aboutapnokhet_text{
    width: 40%;
    height: 80%;
    align-self: center;
    /* border: solid 1px black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: oblique;
}
.aboutapnokhet .aboutapnokhet_text #heading{
    padding-top: 2rem;
    font-size: 1.5rem;
    
}
.aboutapnokhet .aboutapnokhet_text #p1{
    font-size: 1.1rem;
    font-weight: bold;
}
.aboutapnokhet .aboutapnokhet_text #p2{
    font-size: 1.1rem;
}
.aboutapnokhet .aboutapnokhet_text #p3{
    font-size: 1.1rem;
}
.aboutapnokhet .aboutapnokhet_text #p4{
    font-size: 1.1rem;
    font-style: italic;
}
.featuredproducts{
    margin-top: 3rem;
    width: 80%;
    height: 55rem;
    align-self: center;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.featuredproducts .featuredproductheading{
    width: 100%;
    height: 3rem;
    /* padding: 1rem; */
    /* border: solid 1px black; */
    text-align: center;
    color: #042408;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.featuredproducts .products{
    width: 100%;
    height: 45rem;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.featuredproducts .products .products1{
    width: 100%;
    height: 48%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.featuredproducts .products .products1 .indoorkit{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;

}
.featuredproducts .products .products1 .indoorkit .indoorkitimage{
    width: 100%;
    height: 85%;
    background-image: url(../images/indoorkit.jpg);
    background-size: 100% 100%;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
}
/*for all text of the products*/
.featuredproducts .products .text{
    width: 100%;
    height: 12%;
    text-align: center;
    color: #052553;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*for all prices of the products*/
.featuredproducts .products .text #price{
    font-style: italic;
    font-weight: lighter;
    color: darkslateblue;
}
.featuredproducts .products .products1 .ayuglow{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
}
.featuredproducts .products .products1 .ayuglow .ayuglowimage{
    width: 100%;
    height: 85%;
    background-image: url(../images/ayuglow.jpg);
    background-size: 100% 100%;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;

}
.featuredproducts .products .products1 .butterfly{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
}
.featuredproducts .products .products1 .butterfly .butterflyimage{
    width: 100%;
    height: 85%;
    background-image: url(../images/butterfly.jpg);
    background-size: 100% 100%;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
}
.featuredproducts .products .products2{
    width: 100%;
    height: 48%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-left: 10%;
    padding-right: 10%; */

}
.featuredproducts .products .products2 .lily{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    margin-left: 12%;
}
.featuredproducts .products .products2 .lily .lilyimage{
    width: 100%;
    height: 85%;
    background-image: url(../images/indoor.jpg);
    background-size: 100% 100%;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
}
.featuredproducts .products .products2 .laurentii{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    margin-right: 12%;
}
.featuredproducts .products .products2 .laurentii .laurentiiimage{
    width: 100%;
    height: 85%;
    background-image: url(../images/laurentii.jpg);
    background-size: 100% 100%;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.4rem 0.8rem#052553;
}
.featuredproducts .allproducts{
    width: 100%;
    height: 2rem;
    /* border: 1px solid black; */
    text-align: center;
    /* padding: 1rem; */
    font-size: 1.2rem;
    
}
.featuredproducts .allproducts a{
    color: #08C06F;
}

.services{
    margin-top: 3rem;
    width: 80%;
    height: 35rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    background-color: #29e7cd;
    background-image: linear-gradient(315deg, #bce6e0 0%, #fffbfc 74%);
    position: relative;
    box-shadow: 0.2rem 0.2rem 0.4rem #052553;
}
.services .text{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    text-align: center;
    color: #042408;
    
    /* background-image: linear-gradient(315deg, #29e7cd 0%, #fffbfc 74%); */


    
}
.services .text #heading{
    width: 100%;
    height: 30%;
    justify-self: center;
    /* border: 1px solid black; */
    text-align: center;
    color: #042408;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.1rem 0.1rem 0.2rem #042408;
}
.services .text p{
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    
}
.services .booking{
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.services .booking .booking1{
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.services .booking #p1{
    text-align: center;
    /* align-self: center; */
    /* justify-self: center; */
    color: black;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.services .booking #p2{
    text-align: center;
    /* align-self: center; */
    /* justify-self: center; */
    color: rgb(21, 196, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1rem;
}
.services .booking .booking1 .gardening{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #d1ffe1;
    border-radius: 2rem;
    margin-left: 4rem;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #052553;
}
.services .booking .booking1 .plantcare{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #d1ffe1;
    border-radius: 2rem;
    margin-right: 4rem;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #052553;
}
.services .booking .booking2{
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.services .booking .booking2 .landscaping{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #d1ffe1;
    border-radius: 2rem;
    margin-left: 4rem;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #052553;
}
.services .booking .booking2 .botanica{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #d1ffe1;
    border-radius: 2rem;
    margin-right: 4rem;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #052553;
}
.gallery{
    width: 80%;
    margin-top: 3rem;
    height: 35rem;
    /* border: 1px solid black; */
    align-self: center;
    position: relative;
    text-align: center;
    color: #042408;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.1rem 0.1rem 0.2rem #042408;
    padding: 2rem;

}
.gallery #photos{
    width: 100%;
    height: 85%;
    /* border: 1px solid black; */
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.gallery #photos img{
    width: 24rem;
    height: 13rem;
}
.contactus{
    width: 80%;
    height: 30rem;
    border: 1px solid black;
    align-self: center;
    display: flex;
    flex-direction: row;
    /* color: #3eb489; */
    justify-content: space-around;
    background-color: #77d7ed;
    background-image: linear-gradient(#72e6bb, #77d7ed);    
    box-shadow: 0.4rem 0.4rem 0.8rem #052553;
}
.contactus .text{
    width: 45%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contactus .text h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}
.contactus .text h3{
    padding: 1rem;
}
.contactus .text #p1{
    padding-top: 0.5rem;
    color: #2d7b2d;
}
.contactus .hello{
    width: 45%;
    height: 100%;
    border: 1px solid black;

}
.end{
    width: 80%;
    height: 20rem;
    border: 1px solid black;
}